import os
c = get_config()

# API
c.JupyterHub.proxy_class = 'jupyterhub.proxy.ConfigurableHTTPProxy'

# ip
from jupyter_client.localinterfaces import public_ips
c.JupyterHub.hub_ip = public_ips()[0]

runtime_dir = '{{ jupyterhub_runtime }}'
c.JupyterHub.cookie_secret_file = os.path.join(runtime_dir, 'cookie_secret')
c.JupyterHub.db_url = os.path.join(runtime_dir, 'jupyterhub.sqlite')
c.ConfigurableHTTPProxy.pid_file = os.path.join(runtime_dir, 'jupyterhub-proxy.pid')

{% if github_oauth_authenticator is defined -%}
from oauthenticator.github import GitHubOAuthenticator
c.JupyterHub.authenticator_class = GitHubOAuthenticator
c.GitHubOAuthenticator.oauth_callback_url = '{{ github_oauth_authenticator.oauth_callback_url }}'
c.GitHubOAuthenticator.client_id = '{{ github_oauth_authenticator.client_id }}'
c.GitHubOAuthenticator.client_secret = '{{ github_oauth_authenticator.client_secret }}'

c.GitHubOAuthenticator.whitelist = whitelist = set()
c.GitHubOAuthenticator.admin_users = admin = set()

join = os.path.join
here = os.path.dirname(__file__)
with open(join(here, 'whitelist')) as f:
    for line in f:
        if not line:
            continue
        parts = line.split()
        name = parts[0]
        whitelist.add(name)
        if len(parts) > 1 and parts[1] == 'admin':
            admin.add(name)

{% endif %}

{% if jupyterhub_dummy_authenticator -%}
c.JupyterHub.authenticator_class = 'dummyauthenticator.DummyAuthenticator'
{% endif %}

# Spawner
# https://github.com/jupyterhub/dockerspawner/tree/master/examples/oauth
c.JupyterHub.spawner_class = 'dockerspawner.DockerSpawner'
c.DockerSpawner.image = '{{ jupyterhub_docker_image }}'

notebook_dir = os.environ.get('DOCKER_NOTEBOOK_DIR') or '/home/jovyan'
c.DockerSpawner.notebook_dir = notebook_dir
c.DockerSpawner.volumes = { 'jupyterhub-user-{username}': notebook_dir,
                            '{{ jupyterhub_data }}': os.path.join(notebook_dir, 'shared') }